<section class="banner-container">
  <div class="item-banner">
    <h1 class="title-banner-product">@@tieude</h1>
    <div class="box-content-slider">
      <div class="item-slider-banner cover-image" style="background-image: url('images/banner-sp.png');">
        <img src="images/banner-sp.png" alt="banner">
      </div>
      <div class="item-slider-banner cover-image" style="background-image: url('images/banner.png');">
        <img src="images/banner-sp.png" alt="banner">
      </div>
      <div class="item-slider-banner cover-image" style="background-image: url('images/banner-sp.png');">
        <img src="images/banner-sp.png" alt="banner">
      </div>
    </div>
  </div>
  <div class="item-banner video-background">
    <h1 class="title-banner-product">@@tieude</h1>
    <div class="video-foreground">
      <!-- <div id="ytplayer"></div> -->
      <video id="videoplayer" width="100%" autoplay loop muted playsinline>
        <source src="https://storage.googleapis.com/webfundamentals-assets/videos/chrome.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</section>