<div class="col-md-4 col-sm-12 col-xs-12 item-tienich">
  <div class="box-hover">
    <div class="box-img-tienich custom-img-tintuc">
      <a class="cover-image" style="background-image: url(@@img)" href="/chi-tiet-tin-tuc.html"><img src="@@img" alt=""></a>
    </div>
    <div class="box-content-tienich">
      <h2 class="title-tienich">
        <a href="/chi-tiet-tin-tuc.html">@@title</a>
      </h2>
      <p class="content-tienich">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
      </p>
    </div>
    <p class="box-seemore">
      <a href="/chi-tiet-tin-tuc.html" class="seemore"><span>Xem chi tiết</span> <i class="icon-arr-right"></i></a>
    </p>
  </div>
</div>
