<!-- build:js(.) scripts/vendor.min.js -->
<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="node_modules/scrollbooster/dist/scrollbooster.min.js"></script>
<script type="text/javascript" src="node_modules/slick-carousel/slick/slick.js"></script>
<script type="text/javascript" src="node_modules/lightgallery/dist/js/lightgallery.min.js"></script>
<script type="text/javascript" src="node_modules/lg-thumbnail/dist/lg-thumbnail.min.js"></script>
<script type="text/javascript" src="node_modules/lg-video/dist/lg-video.min.js"></script>
<script type="text/javascript" src="node_modules/mmenu-js/dist/mmenu.js"></script>
<script type="text/javascript" src="node_modules/wow.js/dist/wow.js"></script>
<!-- endbuild -->
<!-- build:js scripts/script.min.js -->
<script type="text/javascript" src="scripts/ytplayer.js"></script>
<script type="text/javascript" src="scripts/script.js"></script>
<!-- endbuild -->
