@font-face {
  font-family: 'icomoon';
  src:  url('./../fonts/icomoon/fonts/icomoon.eot?b052n2');
  src:  url('./../fonts/icomoon/fonts/icomoon.eot?b052n2#iefix') format('embedded-opentype'),
    url('./../fonts/icomoon/fonts/icomoon.ttf?b052n2') format('truetype'),
    url('./../fonts/icomoon/fonts/icomoon.woff?b052n2') format('woff'),
    url('./../fonts/icomoon/fonts/icomoon.svg?b052n2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arr-down:before {
  content: "\e910";
}
.icon-arr-up:before {
  content: "\e911";
}
.icon-call:before {
  content: "\e90a";
}
.icon-local-v2:before {
  content: "\e90b";
}
.icon-mail:before {
  content: "\e90c";
}
.icon-map:before {
  content: "\e90d";
}
.icon-phone-v2:before {
  content: "\e90e";
}
.icon-view:before {
  content: "\e90f";
}
.icon-play-button:before {
  content: "\e909";
}
.icon-next:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e901";
}
.icon-twiter:before {
  content: "\e902";
}
.icon-youtube:before {
  content: "\e903";
}
.icon-arr-right:before {
  content: "\e904";
}
.icon-back:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-google:before {
  content: "\e907";
}
.icon-local:before {
  content: "\e908";
}
