$main_color: #135e53;
$hover_color: #ffcd77;
$header_text: #884408;
$dot_colot: #3a935a;
$dot_color_yellow: #d0a83c;

$title_color: #135e53;
$title_heading: #000000;
$text_dark: #000000;
$text_yellow: #d0a83c;
$text_desciption: #444444;
$text_white: #ffffff;
$content_color: #262626;
$bg_content: #f3efec;
$bg_white: #ffffff;
$bg_footer: #231f20;

$pagenavi_color: #884408;
